@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

/* .active5::after {
    content: '';
    height: 1px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
} */

@media (max-width: 950px) {
  .active5::after {
    width: 250px;
  }
}

.maininfocontainer {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/backg/proBG.jpg);
  background-size: cover;
  background-position: center;
  object-fit: scale-down;
}

.maininfocontainer h1 {
  padding-top: 100px;
  font-size: 60px;
  text-align: center;
  color: white;
}

.maininfocontainer p {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
}

@media (max-width: 950px) {
  .maininfocontainer h1 {
    padding-top: 100px;
    font-size: 275%;
    text-align: center;
    color: white;
  }
  .maininfocontainer p {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 150%;
    text-align: center;
    color: white;
  }
}

.formcontainer {
  padding-top: 100px;
  padding-left: 100px;
  /* background-color: rgb(0, 0, 0); */
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(168, 168, 168)
  );
}

.artinfo {
  font-size: 20px;
  color: black;
}

.artinfo input {
  width: 30%;
  height: 30px;
}

.trackinfo {
  padding-top: 50px;
  font-size: 20px;
  color: black;
}

.trackinfo input {
  width: 30%;
  height: 30px;
}

.extrainfo {
  padding-top: 50px;
  font-size: 20px;
  color: black;
}

.extrainfo textarea {
  height: 100px;
  width: 60%;
}

.btncont {
  padding-top: 20px;
  padding-bottom: 50px;
}

.formcontainer .btn {
  border-radius: 5px;
  border: 1px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  color: white;
  background-color: black;
}

textarea {
  outline: none;
  overflow: auto;
}
