body {
  min-height: 100vh;
}

.fcontainer {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.footer-col ul {
  list-style: none;
  
}

.footer {
  background-color: #1c1c1c;
  padding-top: 60px;

}

.footer-col {
  width: 25%;
  padding: 0 20px;
}

.footer-col h4 {
  font-size: 25px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;

}

.footer-col ul li {
    font-size: 15px;
    margin-top: 5px;
  }

.footer-col ul li a {
  text-decoration: none;
  color: #959595;
  transition: 0.7s;
}

.footer-col ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.subscribe p{
  transform: translateY(20px);
  font-size: 15px;
  margin-left: 70%;
  color: #959595;
  transition: 1s;

}

.input-email {
  margin-right: 20px;
  margin-left: 70%;
  margin-top: 10px;
  padding: 5px;
  border-top: 0px;
  border-right: 0px;
  color: white;
  border-left: 0px;
  background-color: black;
  transition: 1s;
}
.input-email:focus {
  outline-style: none;
}
.input-email:hover{
border-color: #fff;
}

.button-email {
  border: 0px;
  padding: 5px;
  border-radius: 3.5px;
  border: 1px;
  color: white;
  background-color: black;
  transition: 500ms;
  margin-top: 30px;
  margin-bottom: 70px;

}

.button-email:hover {
  transform: translateY(-0.2rem);
}
.button-email:active {
  transform: translateY(+0.1rem);
  background-color: rgb(150, 150, 150);
  color: #000;
  
}

.CopyrightFooter {
  /* margin-top: 70px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: #c1c1c1;
  background-color: black;
}
.jiosaavan{
    /* max-height: 20px; */
    filter: grayscale(100%);
    border-radius: 2px;
}

@media (max-width: 950px){
  .subscribe p{
    margin-left: 50%;
  }
  
.input-email{
  margin-left: 50%;
}
}

@media (max-width: 700px) {
  .subscribe p{
    margin-left: 25%;
  }
.input-email{
  margin-left: 25%;
}
  
}
@media (max-width: 550px) {
  .subscribe p{
    margin-left: 10%;
  }

  .input-email{
    margin-left: 10%;
  }
  .footer-col ul li a {
    font-size: 10px;
  }
  .jiosaavan{
    max-height: 10px;
  }
  
}


@media (max-width: 300px) {

  .subscribe p{
    margin-left: 5px;
  }

  .input-email{
    margin-left: 5px;
  }
}
