@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
.main-container {
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  /* background-color: black; */
}
.email-container {
  height: 600px;
  width: 600px;
  background-color: black;
  box-shadow: 10px 10px 10px grey;
}
.top-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.top-logo img {
  width: 100px;
  padding: 50px;
}

.heading {
  margin: 30px;
  height: 50vh;
  padding-top: 10%;
}

.head-p {
  /* margin-bottom: 0px; */
}

.heading h1 {
  /* margin-top: 0px; */
  text-align: center;
}

.tail-p {
  text-align: center;
}

footer {
  color: white;
  background-color: #1c1c1c;
}

.copyright {
    font-size: 12px;
  display: flex;
  justify-content: center;
  background-color: black;
}
footer {
  background-color: #1c1c1c;
  /* padding-top: 60px; */
  position: absolute;
  /* position: fixed; */
  width: 600px;
  bottom: 0;
}
.footer-col {
  width: 25%;
}

.footer-col h4 {
  margin-left: 20px;
  /* font-size: 25px; */
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 15px;
  font-weight: 500;
}

.footer-col ul {
    width: 600px;
    display: flex;
    align-items: center;
    list-style: none;
}

.footer-col ul li {
  font-size: 15px;
  margin-top: 5px;
  padding-left: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #959595;
  transition: 0.7s;
}

.footer-col ul li a:hover {
  text-decoration: none;
  color: #fff;
}
