@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.active2::after {
    content: '';
    height: 1px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
}

.biocontainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/backg/portrait.jpg);
    background-size: cover;
    background-position: center;
    object-fit: scale-down;
}

.info {
    color: #fff;
    padding: 50px;
    justify-content: left;
    padding-top: 70px;
}

.info h1 {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 50px;
}

.info p {
    text-indent: 50px;
    text-align: justify;
}

.imgs {
    width: 281px;
    height: 281px;
    margin-left: 70%;
    border-radius: 250px;
    overflow: hidden;
    transition: .05s;
}

.gallery {
    padding: 2px;
    transition: 0.3s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/backg/footpathBG.jpg);
    background-size: cover;
    object-fit: scale-down;
}

.gallery:hover .gallery__image {
    filter: grayscale(1) blur(2px);
}

.gallery__column {
    column-count: 4;
    max-width: 100%;
    column-gap: 0;
    column-rule-width: 40px;
}

.gallery__link {
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0) blur(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
    overflow: hidden;
    display: block;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s, 1s transform ease-in-out;
    overflow: hidden;
}

.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-size: 12px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

@media (max-width: 950px) {
    .imgs {
        margin-left: auto;
        margin-right: auto;
        transition: .05s;
    }
    .info h1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-left: 0px;
    }
    .active2::after {
        width: 250px;
    }
    .gallery__column {
        column-count: 3;
    }
}

@media (max-width: 700px) {
    .gallery__column {
        column-count: 2;
    }
}

@media (max-width: 450px) {
    .gallery__column {
        column-count: 1;
    }
}