@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.active6::after {
    content: '';
    height: 1px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
}

@media (max-width: 950px) {
    .active6::after {
        width: 250px;
    }
}

.shopcont {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/portrait.jpg);
    background-size: cover;
    background-position: center;
    object-fit: scale-down;
}

.shopcont h1 {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 70px;
    color: white;
}