@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/backg/footpathBG.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: scale-down;
}

.active3::after {
    content: '';
    height: 1px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
}

@media (max-width: 950px) {
    .active3::after {
        width: 250px;
    }
}

.maininfocontainer {
    padding-top: 100px;
    font-size: 20px;
    color: white;
}

.heading {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.para {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 23px;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 2.7rem;
    max-width: 20ch;
}

p {
    max-width: 60ch;
}

a {
    color: currentcolor;
}

ul {
    list-style-type: none;
    display: table;
}


/* Utilities */

.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    margin: 50px;
    justify-content: center;
    object-fit: cover;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
    margin: 50px;
}


/* Composition */


/* Blocks */

.album {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    padding: 1.5rem;
    color: #ffffff;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
}

.album::before,
.album::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
}

.album::before {
    background: linear-gradient( to top, hsl(0 0% 0% / 0.79) 0%, hsl(0 0% 0% / 0.787) 7.8%, hsl(0 0% 0% / 0.779) 14.4%, hsl(0 0% 0% / 0.765) 20.2%, hsl(0 0% 0% / 0.744) 25.3%, hsl(0 0% 0% / 0.717) 29.9%, hsl(0 0% 0% / 0.683) 34.3%, hsl(0 0% 0% / 0.641) 38.7%, hsl(0 0% 0% / 0.592) 43.3%, hsl(0 0% 0% / 0.534) 48.4%, hsl(0 0% 0% / 0.468) 54.1%, hsl(0 0% 0% / 0.393) 60.6%, hsl(0 0% 0% / 0.31) 68.3%, hsl(0 0% 0% / 0.216) 77.3%, hsl(0 0% 0% / 0.113) 87.7%, hsl(0 0% 0% / 0) 100%);
    transition: 300ms opacity linear;
}

.album>* {
    z-index: 1;
}

.album img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
}

.album h2,
.album p {
    transform: translateY(2ex);
}

.album h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
}

.album p {
    font-size: 1.2rem;
    font-weight: 500;
}

.album p {
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.album:focus {
    outline: 0.5rem solid white;
    outline-offset: -0.5rem;
}

.album:hover :is(h2,
p),
.album:focus :is(h2,
p) {
    transform: none;
}

.album:hover::after,
.album:focus::after,
.album:hover::before,
.album:focus::before {
    opacity: 0.7;
}

.album:hover p,
.album:focus p {
    opacity: 1;
    transition-delay: 200ms;
}

.album:hover img,
.album:focus img {
    filter: grayscale(0);
    transform: scale(1.05) rotate(1deg);
}