@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

/* .active6::after {
    content: '';
    height: 1px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
} */

@media (max-width: 950px) {
  .active6::after {
    width: 250px;
  }
}

.contactus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/backg/proBG.jpg);
  background-size: cover;
  background-position: center;
  object-fit: scale-down;
}

.contactus h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 60px;
  color: white;
}

.contactus p {
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 50px;
  font-size: 25px;
  text-align: center;
  color: white;
}

.contform {
  padding-top: 5%;
  padding-left: 10%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(185, 185, 185)
  );
}
.info label {
  font-size: 20px;
}
.subject label {
  font-size: 20px;
}
.message label {
  font-size: 20px;
}
.contform .info {
  color: #000;
  padding-bottom: 50px;
}

.contform .info input {
  width: 20%;
  height: 30px;
  padding-left: 1%;
  margin-right: 5%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 500ms;
}

.contform .info input:focus {
  outline: none;
  border-color: black;
}

.subject {
  color: black;
}

.subject input {
  width: 46%;
  height: 30px;
  padding-left: 1%;
  margin-right: 5%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 500ms;
}

.subject input:focus {
  outline: none;
  border-color: black;
}

.message {
  padding-top: 50px;
  color: black;
}

.message textarea {
  height: 5%;
  width: 45%;
  padding: 1%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 500ms;
}
.message textarea:focus {
  outline: none;
  border-color: black;
}

.btncont {
  padding-top: 20px;
  padding-bottom: 50px;
}

.contform .btn {
  border-radius: 5px;
  border: 1px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  color: white;
  background-color: black;
  transition: 500ms;
}
.contform .btn:hover{
  transform: translateY(-.20rem);
}
.contform .btn:active{
  transform: translateY(+.10rem);
  background-color: rgb(150, 150, 150);
  color: #000;
}
@media (max-width: 800px){
  .contform .info input {
    width: 40%;
  }
  .subject input {
    width: 85.5%;
  }
  .message textarea {
    width: 85%;
  }
}