{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JXSRMA | Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

</head>

<body>

    <div class="contactus">
        {% include "header.html" %}

        <h1>Contact Me</h1>
        <p>Your Query will be recieved by me</p>


    </div>
    <div class="contform">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="info">
                <label for="name">Your Info</label>
                <br>
                <input type="text" name="Cname" placeholder="Enter Your Name">
                <input type="email" name="Memail" placeholder="Enter Your Email">


            </div>

            <div class="subject">

                <label for="subject">Subject</label>
                <br>
                <input type="text" name="Msubject" placeholder="Subject">

            </div>

            <div class="message">

                <label for="artname">Message</label>
                <br>
                <textarea type="text" name="Mconserns" placeholder="Enter Your concerns" cols="30" rows="5"></textarea>
                <br>

                <div class="btncont">
                    <input type="submit" value="Send" class="btn">

                </div>
            </div>
        </form>
    </div>


    {% include "footer.html" %}
</body>

</html>