 {% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>footer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <footer class="footer">
        <div class="fcontainer">
            <div class="row">
                <div class="footer-col">
                    <h4>Follow</h4>
                    <ul>
                        <li><a href="https://instagram.com/jxsrma">Instagram</a></li>
                        <li><a href="https://facebook.com/JXSRMA">Facebook Page</a></li>
                        <li><a href="https://twitter.com/jxsrma">Twitter</a></li>
                        <li><a href="https://discord.gg/9DkvHyYWBE">Discord Server</a></li>
                        <li><a href="https://www.twitch.tv/jxsrma">Twitch</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Stream</h4>
                    <ul>
                        <li><a href="https://open.spotify.com/artist/76RdxImQYMELfBJ99W7QsE">Spotify</a></li>
                        <li><a href="https://soundcloud.com/jxsrma">SoundCloud</a></li>
                        <li><a href="https://www.jiosaavn.com/artist/jxsrma-/1,rCDiL19uk_">Jio Saavan</a></li>
                        <li><a href="https://music.amazon.in/artists/B08PNSQ44V/jxsrma">Amazon Music</a></li>
                        <li><a href="https://music.apple.com/in/artist/jxsrma/1542925618">Apple Music</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Info</h4>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">About Developers</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <p>©2021 JXSRMA, LLC. All Rights Reserved</p>
    </footer>
</body>

</html>