{% load static %}

<html>

<head>
    <title>JXSRMA | Releases</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/releases.css' %}">

</head>

<body>
    <div class="backg">
        {% include "header.html" %}
        <div class="maininfocontainer">
            <div class="heading">My Releases</div>
            <div class="para">Click the album art, and choose you favorite streaming platform.</div>
        </div>



    </div>

    <article class="flow">
        <div class="release">


            <ul class="auto-grid" role="list">

                {% for releaseloop in relSongData %}
                <li>
                    <a href="{{releaseloop.sLink}}" target=_blank " class="album ">
                        <h2 class="profile__name ">{{releaseloop.name}}</h2>
                        <p>{{releaseloop.genre}}</p>
                        <img alt="{{releaseloop.altImg}} " src="{{releaseloop.albumart.url}} " />
                    </a>
                </li>
                {% endfor %}



            </ul>


            
        </div>
    </article>
    </div>

    {% include "footer.html " %}
</body>

</html>