 {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JXSRMA | Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">

</head>

<body>
    <div class="shopcont">
        {% include "header.html" %}

        <h1>COMING SOON</h1>

    </div>

    {% include "footer.html" %}
</body>

</html>